---
import Layout from "../layouts/Layout.astro";
import me from "../assets/images/me-small.jpg";
import { Image } from "astro:assets";
import ContactLinks from "../components/ContactLinks.astro";
import Skills from "../components/Skills.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";

const categories = [
 { name: "skills" },
 { name: "projects" },
 { name: "about" },
 { name: "contact" },
];
---

<script>
 const tabTitles = document.querySelectorAll(".tab-titles");
 tabTitles[0].classList.add("active");
 const tabContent = document.querySelectorAll(".tab-content");
 tabContent[0].classList.add("active");
 tabTitles.forEach((tab, i) => {
  tab.addEventListener("click", () => {
   tabTitles.forEach((tab) => {
    tab.classList.remove("active");
   });
   tab.classList.add("active");
   tabContent.forEach((tab) => {
    tab.classList.remove("active");
   });
   tabContent[i].classList.add("active");
  });
 });
</script>
<Layout title="Brian Stricker">
 <main class="w-full h-screen flex flex-col items-center justify-center">
  <div class="flex flex-col">
   <div class="flex flex-row mx-auto">
    <Image
     class="object-cover rounded-full w-28 h-28 sm:w-[160px] sm:h-[160px]"
     src={me}
     alt="me"
     width={160}
     height={160}
    />
    <div class="flex flex-col justify-center">
     <div class="ml-4">
      <h1 class="text-2xl sm:text-4xl mt-2">Brian Stricker</h1>
      <p class="opacity-80 text-sm sm:text-base text-center">
       Full stack developer
      </p>
     </div>
     <div class="mt-4 flex flex-col items-center">
      <ContactLinks icons={true} index={true} />
     </div>
    </div>
   </div>
   <ul class="my-4 sm:mt-6 flex gap-3 sm:gap-6 self-center items-center">
    {
     categories.map((c) => (
      <div class="group">
       <li class="font-bold cursor-pointer tab-titles">{c.name}</li>
       <div class="tab-title-underline bg-blue-400 h-[2px] w-0 group-hover:w-full transition-all duration-300" />
      </div>
     ))
    }
   </ul>
   {
    categories.map((c) => (
     <div class="tab-content hidden">
      {c.name === "skills" && <Skills />}
      {c.name === "projects" && <Projects />}
      {c.name === "about" && <About />}
      {c.name === "contact" && <p>Contact</p>}
     </div>
    ))
   }
  </div>
 </main>
</Layout>
<style>
 .tab-titles.active + .tab-title-underline {
  @apply bg-blue-400 h-[2px] w-full transition-all duration-200;
 }
 .tab-content.active {
  @apply block h-[400px] max-w-[600px] mx-auto transition-all duration-200;
 }
</style>
