<p class="px-4 sm:px-0">
 My name is Brian Stricker, and I'm a fullstack web developer. I primarily focus
 on using the MERN stack, but I've dabbled with several other frameworks and
 languages, and I'm never writing anything off. My coding journey started a few
 years ago, but it really took off when I started Nucamp (coding bootcamp), in
 which I completed the full stack web and mobile development course, as well as
 the backend course which included python and an intro to devops.
</p>
